body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #0e013d, #471069);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin: auto;
    background: linear-gradient(to bottom right, #6d51a5, #e4a7c5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #444;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #364b88f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #03294f;
}

.result {
    font-size: 1.5em;
    margin-bottom: 20px;
}